<div class="content">
  <h2>Searches</h2>
  <ul class="searches-list">
  {{#each this}}
    <li>
      <p class="name">{{@index}}</p>
      <p class="types">{{this.query.types}}</p>
      <p class="levels">{{this.query.levels}}</p>
      <p class="domainid">{{this.query.domains_ids}}</p>
      <p class="startdate">{{this.query.start_date}}</p>
      <p class="enddate">{{this.query.end_date}}</p>
    </li>
  {{/each}}
  </ul>
</div>
